<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/css.css')}}">
    <title>Document</title>
</head>
    <body>
        <center>
            <div class="img1">
                <h1>Museo Poldi Pezzoli</h1>
                <img src="{{url_for('static', filename='/img/museopPoldiPezzoliMilanoZero.jpg')}}">
            </div>
        </center>
        
            <a href="{{ url_for('link1')}}"><img class="genericSize" src="{{url_for('static', filename='img/ominoSolo.png')}}"></a>
            <a href="{{ url_for('link2')}}"><img class="genericSize1" src="{{url_for('static', filename='img/ominiGruppo.jpg')}}"></a>
            <a href="{{ url_for('link3')}}"><img class="genericSize2" src="{{url_for('static', filename='img/visitaGuidata.png')}}"></a>

    </body>
</html>